body {
  background-color: Gray;
	color: #F0F8FF;
	font-family: arial;
	background-image: url("../../../../~rinde/media/pics/tlu_h200.png");
	background-repeat: no-repeat;
	background-position: 1000px 300px;
	background-attachment: fixed;
	margin: 20px;
}

.kast {
  background-color: green;
  font-size: 140%;
  color: #fff;
  padding: 20px;
  border-radius: 2px;
  
}

.kast:nth-child(even) {
  background-color: lightgreen;
  color: #000;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(100px,1fr) minmax(200px,2fr));
}